
{% extends "base.html" %}

{% block content %}
  <h3>Django</h3>
  <p>Django es un framework de programacion web escrito en python es muy bonito</p>


<div class="container">
  <h3>Django el mejor framework </h3>
  <p>Utilizado en todo tipo de proyectos.</p>

  
 
  <h1>    
    
    Salmos 121:8
    El Señor te cuidará en el hogar y en el camino, desde ahora y para siempre.
    
    Proverbios 1:7
    El temor del Señor es el principio del conocimiento; los necios desprecian la sabiduría y la disciplina.</h1>
 
  <a href="https://www.youtube.com/watch?v=vAqvbLs77xE"><img src="https://cdni.rt.com/actualidad/public_images/2022.02/article/62176d11e9ff7159aa1fdf7d.jpg" alt=""  height="300px"></a>
<br><br>
  <a href="https://openwebinars.net/blog/que-es-django-y-por-que-usarlo/">Django --Qué es Django y por qué usarlo</a>

</div>

{% endblock %}





 
