{% extends "base.html" %}

{% block content %}
  <h3>Django</h3>
  <p>Django es un framework de programacion web escrito en python es muy bonito</p>

  
<div class="container">
  <h3>Django el mejor framework </h3>
  <p>Utilizado en todo tipo de proyectos.</p>

  
  <h1>3 Juan 1:3
    Querido hermano, oro para que te vaya bien en todos tus asuntos y goces de buena salud, así como prosperas espiritualmente.</h1>
 
  <a href="https://www.ilimit.com/blog/flask-vs-django/"><img src="https://www.vaticannews.va/content/dam/vaticannews/multimedia/2020/07/17/Leopoli---Ucraina.-Foto-di-BoandKo.jpg/_jcr_content/renditions/cq5dam.thumbnail.cropped.750.422.jpeg" alt=""  height="300px"></a>
<br><br>
  <a href="https://openwebinars.net/blog/que-es-django-y-por-que-usarlo/">Django --Qué es Django y por qué usarlo</a>
</div>


</body>
</html>

{% endblock %}