{% extends "base.html" %}

{% block content %}
  <h3>Django</h3>
  <p>Django es un framework de programacion web escrito en python es muy bonito</p>

  
<div class="container">
  <h3>Django el mejor framework </h3>
  <p>Utilizado en todo tipo de proyectos.</p>

  
 
  <a href="https://developer.mozilla.org/es/docs/Learn/Server-side"><img src="https://www.desarrollolibre.net/public/images/example/django/django-y-django-rest-framework-mejores-practicas-2021.png" alt=""  height="300px"></a>
<br><br>
  <a href="https://www.youtube.com/watch?v=Zt7oMqyfEQI">Django --Qué es Django y por qué usarlo</a>

  <h1>Isaías 40:31
    Pero los que confían en el Señor renovarán sus fuerzas; volarán como las águilas: correrán y no se fatigarán, caminarán y no se cansarán.</h1>
 
  <a href="https://www.youtube.com/watch?v=7XO1AzwkPPE"><img src="https://static1.abc.es/media/internacional/2022/02/24/espacioaereoucrania-k4j--620x349@abc.png" alt=""  height="300px"></a>
<br><br>
  <a href="https://openwebinars.net/blog/que-es-django-y-por-que-usarlo/">Django --Qué es Django y por qué usarlo</a>

</div>

{% endblock %}
 
