{% extends "base.html" %}

{% block content %}
  <div class="container">

    <h3>Django</h3>
    <h3>Django el mejor framework </h3>
    <p>Utilizado en todo tipo de proyectos.</p>
    <p>Django es un framework de programacion web escrito en python es muy bonito</p>

    <a href="https://www.youtube.com/watch?v=FoaO0vRgxhA"><img src="https://miro.medium.com/max/1200/0*Kgo3exK9aJZ8WAvI.jpg" alt=""  height="300px"></a>
    <br><br>
    <a href="https://www.youtube.com/watch?v=F5mRW0jo-U4I">Django --Qué es
      Django y por qué usarlo</a>
  </div>
{% endblock %}